.container{
    text-align: center;
    font-family: Heebo, sans-serif;
    font-size: 16px;
    padding: 0px 0px;
}
.background-favicon-image{
    width: 100%;
    height: 100%;
}

.container-blue{
    background-color: #6abecd;
    padding: 150px 500px 150px 500px; 
}

.container-white{
    background-color: white;
    padding-top: 15px;
    border-radius: 8px;
}


.qr-image{
    object-fit: contain;
    width: 30rem;
    height: 10rem;
    border-radius: 8px;
}
